<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/css/styles.css" />
	<link rel="icon" href="/img/icon.png" />
	<title>WeatherApp</title>
</head>

<body>
	<div class="main-content">
		{{>header}}
		<p>This site was created by Vedant. It uses data from mapbox.com and weatherstack API!</p>
		<img class="portrait" src="/img/IMG-20171020-WA0007.jpg" />
	</div>
	{{>footer}}
</body>

</html>